<span class="pull-right">
    <button ng-click="$ctrl.toggleSort('name')" class="btn btn-default">
        Sort By Name {{ $ctrl.getSortOrder("name") }}
    </button>
    <button ng-click="$ctrl.toggleSort('id')" class="btn btn-default">
        Sort By ID {{ $ctrl.getSortOrder("id") }}
    </button>
</span>

<div class="clearfix"></div>
<br>

<ul class="list-group">
    <a href="/user/{{ user.id }}" class="list-group-item" ng-repeat="user in $ctrl.users | orderBy:$ctrl.sortby:$ctrl.sorted ">
        {{ user.name }}
    </a>
</ul>